
.multi-back-img {
  height: 100vh;
  width: 100vw;
  /*background-image: url(https://image.flaticon.com/icons/svg/748/748122.svg), url(https://images.unsplash.com/photo-1478719059408-592965723cbc?ixlib=rb-1.2.1&auto=format&fit=crop&w=2212&q=80);*/
  background-image: url('/../../assets/img/multiple-images.svg'), url('/../../assets/img/multiple-images.jpg');
  background-position: center, top;
  background-repeat: repeat, no-repeat;
  background-size: 10px, cover;
}

