<nav class="navbar navbar-inverse navbar-fixed-top">

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Css Background Image</a>
    </div>
    <ul class="nav navbar-nav navbar-right">

      <!--<li routerLink="/home" class="active"><a href="#">Home</a></li>-->
      <li><a routerLink="/single">Single Image</a></li>
      <li><a routerLink="/multiple">Multiple Images</a></li>
      <li><a routerLink="/triangular">Triangular Images</a></li>
      <li><a routerLink="/gradient">Gradient Overlay Image</a></li>
      <li><a routerLink="/color">Color Changing Image</a></li>
      <li><a routerLink="/text">Text Color Image</a></li>
      <li><a routerLink="/grid">Grid Image</a></li>

    </ul>
  </div>
</nav>

<div class="home-img">

  <router-outlet></router-outlet>

</div>





